@charset "utf-8";

.header{
    position: relative;
    background-color: #000;
}
.header_logo{
    display: inline-block;
    width: 140px;
}
.header_logo img{
    height: 100px;
    width: auto;
}

.header_top{
    display: flex;
    position: absolute;
    width: 950px;
    height: 50px;
    right: 0;
    top: 0;
    overflow: hidden;
    /* transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s; */
}
.header_top .top_menu{
    float: left;
    text-align: center;
}
.header_top .top_menu li{
    float: left;
    height: 50px;
    margin-left: 10px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}
.header_top .top_menu li a{
    height: 100%;
    color: #cfcfcf;
}
.header_top .top_menu li:hover > a,
.header_middle .header_category > li:hover > a{
    color: #acacac;
}
.header_top .search{
    float: left;
    /* border-bottom: 1px solid #ccc; */
    margin-left: 250px;
    line-height: 40px;
    margin-top: 5px;
}
.header_top .search input{
    border: none;
    width: 110px;
    height: 30px;
}
.header_top .search .search_icon img{
    filter: invert(100%);
}
.header_top .kakao{
    float: right;
    border: 1px solid #666;
    width: 180px;
    height: 40px; 
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
}
.header_top .kakao:hover{
    background-color: rgb(250, 225, 0);
}
.header_top .kakao:hover a{
    color: #000;
    font-weight: bold;
}
.header_top .kakao a{
    width: 100%;
    position: absolute;
    top: 15%;
    font-weight: 500;
    color: #cfcfcf;
}
.header_top .kakao img{
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}

.header_top .side_semo{
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
}
.header_top .close_btn{
    position: relative;
    width: 180px;
    height: 35px;
    margin: 3px auto;
    text-align: center;
    cursor: pointer;
}
.header_top .close_btn img{
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
}

.header_top.active{
    width: 200px;
    height: 460px;
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0.75s;
    display: flex;
}
.header_top.active .side_semo{
    width: calc(100% - 40px);
    transition-delay: 0s;
    color: #fff;
}


.header_middle{
    position: absolute;
    top: 50px;
    right: 0;
    display: block;
    width: 963.07px;
    height: 50px;
    text-align: center;
    z-index: 10;
}
.header_middle .top_blank{
    display: inline-block;
    width: 140px;
    height: 50px;
}
.header_middle > div{
    display: inline-block;
}
/* .header_middle > div{
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 963.07px;
    display: inline-block;
} */

.header_middle h3{
    display: inline;
    float: left;
    line-height: 50px;
    color: #cfcfcf;
}
.header_middle .header_category{
    float: left;
    display: inline;
    /* display: table; */
}
.header_middle .header_category > li{
    float: left;
    text-align: center;
    width: 54px;
    height: 50px;
    font-weight: 500;
    line-height: 50px;
    white-space: nowrap;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    /* display: table-cell;
    vertical-align: middle; */
}
.header_middle .header_category > li a{
    color: #cfcfcf;
}
.header_middle .header_category > li:nth-child(2){
    width: 84px;
}
.header_middle .header_category > li:nth-child(12){
    width: 80px;
}
.header_middle .header_category .community{
    width: 105px;
    position: relative;
}
.header_middle .header_category > li.acc{
    position: relative;
    width: 70px;
}
.header_middle .header_category > li.acc::after,
.header_middle .header_category .community::after{
    content: '';
    width: 5px;
    height: 3px;
    display: block;
    position: absolute;
    left: 25px;
    bottom: 10px;
    background: url(img/arrow_under.png) no-repeat;
    /* filter: invert(100%); */
}
.header_middle .header_category > li.acc::after{
    left: 33px;
}
.header_middle .header_category .community::after{
    left: 50px;
}
.header_middle .header_category .sub_category{
    width: 105px;
    position: absolute;
    top: 50px;
    left: -17px;
    display: none;
}
.header_category .community .community_menu{
    position: absolute;
    width: 105px;
    display: none;
}
.header_middle .header_category .community > a{
    font-size: 15px;
    font-weight: bold
}
.header_category .community .community_menu li > a{
    text-align: center;
}
.header_category .sub_category,
.header_category .community .community_menu{
    border: 1px solid #333;
    border-top: none;
    background-color: #333;
    z-index: 999;
}
.header_category .sub_category li:hover a,
.header_category .community .community_menu li:hover a{
    color: #fff;
    font-weight: bold;
}